/*2023.01.23. joyujeong960@gmail.com*/
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

.text {
    font-family: Pretendard-Regular;
}
.selection_button {
    font-weight: 600;
    width: 100px;
    height: 30px;
}

/*DIALOGFLOW CHATBOT*/
#dialogflow {
    display: none;
}

/*BUTTON-TYPE CHATBOT*/
#button-type {
    display: flex;
    flex-direction: column;
    /*align-items: flex-end;*/

    position: absolute;
    right: 20px;
    bottom: 18px;

    margin: 0px;
}

/* CHAT CLICK ICON */
#chat-click {
    margin: 0px;
    cursor: pointer;
    text-align: right;
}

/* CHATBOX */
#chatbox {
    background-color: white;
    border-radius: 7px;
    box-shadow: 1px 0px 10px 1px #a4a4a4;

    width: 350px;
    /*height: 450px;*/

    margin-bottom: 20px;

    display: none;
    flex-direction: column;
}

/* BOX TITLE */
#box-title {
    width: 100%;
    height: 45px;
    background-color: #8b0427;
    border-radius: 7px 7px 0px 0px;
}
#text-title {
    color: white;
    text-align: left;
    margin-top: 12px;
    margin-left: 13px;
    font-size: 18px;
    font-weight: 500;
}

/* BOX CONTENT (CHAT) */
#box-content {
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 490px;
    overflow: auto;
}
#box-content::-webkit-scrollbar {
    width: 5px;
    background-color: rgb(239, 239, 240);
}
#box-content::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.47);
    background-clip: padding-box;
    border: 2px solid transparent;
}
.content-script {
    background-color: white;
    border: 1.5px solid rgba(117, 117, 117, 0.44);
    border-radius: 10px;

    width: 65%;

    margin-top: 5px;
    margin-left: 10px;
    margin-bottom: 5px;
    padding: 10px 15px 10px 15px;

    font-size: 14px;
    font-weight: 500;
}
.content-line {
    text-align: right;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: right;
    align-content: center;
}
.answer-script {
    border-radius: 10px;
    padding: 4px 0px 4px 0px;

    margin-top: 4px;
    margin-bottom: 4px;
    margin-right: 8px;
    width: 80px;

    text-align: center;
    border: 1.5px solid #8b0427;
    background-color: #8b0427;
    color: white;
    font-weight: 600;
    font-size: 15px;
}

/* BOX ANSWER (BUTTONS) */
#box-answer {
    background-color: rgba(200, 202, 208, 0.65);
    width: 100%;
    height: 45px;
    border-radius: 0px 0px 7px 7px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: right;
    align-content: center;

}
.button-answer {
    border-radius: 10px;
    padding: 4px 0px 4px 0px;
    margin-right: 8px;

    width: 80px;

    text-align: center;
    border: 1.5px solid #8b0427;
    background-color: white;
    color: #8b0427;
    font-weight: 600;
    font-size: 15px;

    cursor: pointer;
}
.button-answer:hover {
    border: 1.5px solid #8b0427;
    background-color: #8b0427;
    color: white;
    transition: 0.1s;
}
